body{
    background-color: #FEF2F2;
    display: inline-block;
}
header > div {
    margin-top: 5%;
    margin-left: 15%;
}
nav > a {
    font-size: 20px;
    color: #2A3033;
    font-family: cursive;
    text-decoration: none;
    margin-left: 4%;
}
main {
    width: 70%;
    margin-left: 15%;
}
div {
    width: 50%;
    float: left;
    margin-top: 8%;
}
h1 {
    margin: 0;
    font-size: 50px;
    color: #2A3033;
    font-family: cursive;
}
p {
    margin-bottom: 15%;
    margin-top: 5%;
    font-size: 20px;
    color: #2A3033;
    font-family: cursive;
}
div > a {
    font-size: 20px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    text-decoration: none;
    color: #E5758E;
    border: 2px solid #E5758E;
}
footer {
    width: 70%;
    margin-left: 15%;
}
div > nav {
    margin-top: 5%;
}
p {
    font-size: 15px;
    color: #2A3033;
    font-family: cursive;
}
a > img {
    width: 15%;
}