body {
    background-color: #ffffff;
}

.container {
    display: inline-block;
    width: 800px;
    margin-left: calc(50% - 400px);
    margin-bottom: 30px;
}

.logo {
    float: left;
}

.menu-right {
    float: right;
    margin-top: 20px;
}

.link {
    float: left;
    margin-left: 50px;
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
    color: #2A3033;
    font-family: cursive;
}

.link:hover {
    text-decoration: underline;
}

.link:first-child {
    margin-left: 0;
}

.left-column {
    margin-top: 25px;
    width: 40%;
    float: left;
}

main h1 {
    font-size: 60px;
    font-weight: normal;
    color: #2A3033;
}

main p {
    font-size: 23px;
    font-family: cursive;
    font-weight: light;
    color: #2A3033;
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    color: #C97889;
    border: solid 2px #C97889;
    
}

.btn:hover {
    background-color: #FC9294;
    color: white;
    border: solid 2px #2A3033;
}

main > img {
    margin-top: 30px;
    width: 45%;
    float: right;
    transition: all 2s;
}

main > img:hover {
    transform: rotate(360deg);
}

footer p {
    margin: 0;
    font-size: 15px;
    line-height: 20px;
    color: #2A3033;
    font-family: cursive;

}

.menu-left {
    text-decoration: none;
    float: left;
    font-size: 12px;
    line-height: 20px;
    color: #2A3033;
    font-family: cursive;
}

.botom-link{
    float: left;
    margin-left: 0;
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
    color: #2A3033;
    font-family: cursive;
}

.botom-link:hover {
    text-decoration: underline;
}

.social-link-menu {
    float: right;
}

.social-link {
    color: #2A3033;
    margin-left: 8px;
    font-size: 25px;
    line-height: 20px;
    text-decoration: none;
}

.social-link:hover {
    color: #C97889;
}