.left-column {
    margin-top: 25px;
    margin-left: 25px;
    width: 40%;
    float: left;
}

main h1 {
    font-size: 60px;
    font-weight: normal;
    color: var(--font-color);
}

main p {
    font-size: 23px;
    font-family: cursive;
    font-weight: light;
    color:var(--font-color);
}

main > .img {
    margin-top: 30px;
    width: 40%;
    float: right;
    transition: all 2s;
}

main > img:hover {
    transform: rotate(360deg);
}

.link:hover {
    text-decoration: underline;
}

.link:first-child {
    margin-left: 0;
}