.btn {
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
    color: #C97889;
    border: solid 2px #C97889;
    text-align: center;
    justify-content: center;
    
}

.btn:hover {
    background-color: #FC9294;
    color: white;
    border: solid 2px var(--font-color);
}