@import "../base/base.css";
@import "../base/layout.css";
@import "../main.css";

@import "../3rd-party/font-awesome.min.css";

@import "../components/button.css";

/* LOGO-NAVIG-START */
.top-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.left {
    width: 30%;
}

.right {
    display: flex;
    gap: 15px;
    line-height: 60px;
}
.right > a {
    font-size: 20px;
    text-decoration: none;
    color: var(--font-color);
    font-family: cursive;
}

.right > a:hover {
    text-decoration: underline;
}

/* LOGO-NAVIG-END */
/* MIDDLE-SECTION-START */
.middle-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 720px) {
    .middle-content {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-items: center;
    }

    .middle.middle-left{
        width: 100%;
        align-items: center;
    }
    .section-img {
        width: 80%;
    }

    .top-content {
        align-items: center;
    }
    .middle-right {
        width: 70%;
        align-items: baseline;
    }
    
    
}

.middle {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-content: space-between;
}

.middle-left {
    width: 40%;
    margin-top: 4%;
}

.middle-right {
    width: 50%;
    flex-direction: row-reverse;
    align-items: baseline;
}

.section-title {
    font-size: 55px;
    font-weight: normal;
    color: var(--font-color);
}

.section-description {
    font-size: 20px;
    font-family: cursive;
    font-weight: light;
    color: var(--font-color);
}

.section-img {
    width: 80%;
    transition: all 2s;
    justify-content: flex-end;
    /* paziuret video apie img positioning */
}

.section-img:hover {
    transform: rotate(360deg);
}
/* MIDDLE-SECTION-END */

/* FOOTER-SECION-START */
.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-footer {
    width: 70%;
}

.right-footer {
    width: 20%;
}

.footer-content a {
    font-size: 20px;
    text-decoration: none;
    color: var(--font-color);
    font-family: cursive;
}   

.footer-socials {
    display: flex;
    gap: 20px;
    flex: auto;
}

.footer-socials a {
}
/* FOOTER-SECTION-END */