@import "../base/base.css";
@import "../base/layout.css";
@import "../main.css";

@import "../3rd-party/font-awesome.min.css";

@import "../components/button.css";

/* LOGO-NAVIG-START */
.top-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left {
    width: 30%;
}

.right {
    display: flex;
    gap: 15px;
    line-height: 60px;
}
.right > a {
    
    font-size: 20px;
    text-decoration: none;
    color: var(--font-color);
    font-family: cursive;
}

.right > a:hover {
    text-decoration: underline;
}

/* LOGO-NAVIG-END */
/* MIDDLE-SECTION-START */
.middle-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.middle {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.middle-left {
    width: 40%;
}

.middle-right {
    width: 50%;
}

.section-title {
    font-size: 55px;
    font-weight: normal;
    color: var(--font-color);
}

.section-description {
    font-size: 18px;
    font-family: cursive;
    font-weight: light;
    color: var(--font-color);
}

.section-img {
    width: 80%;
    transition: all 2s;
    justify-content: flex-end;
    /* paziuret video apie img positioning */
}

.section-img:hover {
    transform: rotate(360deg);
}
/* MIDDLE-SECTION-END */

/* FOOTER-SECION-START */

/* FOOTER-SECTION-END */